{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <section>
        <h2>Mes informations</h2>
        <p>Mon nom d'utilisateur : {{ app.user.username }}</p>
        <p>Mon Email : {{ app.user.email }}</p>
        <p>Modifier mon mot de passe</p>
    </section>
    <section>
        <h2>Mes salons</h2>
        <table>
            <thead>
            <tr>

                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>Date de création</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for salon in salons %}
                <tr>
                    <td>{{ salon.title }}</td>
                    <td>{{ salon.description }}</td>
                    <td>{{ salon.user.username }}</td>
                    <td>{{ salon.createdAt|date("m/d/Y") }}</td>
                    <td><a href="{{ path('salon.index', {id: salon.id}) }}">Rejoindre</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <button><a href="{{ path('salon.create') }}">Créer un nouveau salon</a></button>

    </section>
    <section>
        <h2>Nouvelles invitations</h2>
        <table>
            <thead>
            <tr>

                <th>Invité par</th>
                <th>Titre de l'assemblée</th>
                <th>Date  de l'invitation</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for invit in invits %}
                <td>{{ invit.sender.username }}</td>
                <td>{{ invit.salon.title }}</td>
                <td>{{ invit.createdAt|date("d/m/Y") }}</td>
                <td><a href="{{ path('profile.invit', {id: invit.id}) }}">Rejoindre</a></td>
                <td><a href="{{ path('profile.refuse', {id: invit.id}) }}">Refuser</a></td>
            {% endfor %}
            <tr>

            </tr>
            </tbody>
            </tbody>
        </table>
    </section>
{% endblock %}
