{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <section class="profile-content">
        <h2>Mes informations</h2>

            <div class="box profil-info">
                <p><span class="darkgrey-color">Mon nom d'utilisateur :</span> {{ app.user.username }}</p>
                <p><span class="darkgrey-color">Mon Email :</span> {{ app.user.email }}</p>
                <a class="btn" href="{{ path('profile.edit') }}">Modifier mes informations</a>
            </div>
    </section>

    <section class="invit-profil-content">
        <h2>Nouvelles invitations</h2>
        {% for invit in invits %}
        <div class="box invit-box" data-turbo-temporary>

                <p><span class="darkgrey-color">Invité par</span> {{ invit.sender.username }}</p>
                <p><span class="darkgrey-color">Nom de l'assemblée :</span> {{ invit.salon.title }}</p>
            <p><span class="darkgrey-color">Créé le</span> {{ invit.createdAt|date("d/m/Y") }}</p>
            <div class="btn-invit">
                <a class="btn" href="{{ path('profile.invit', {id: invit.id}) }}">Rejoindre</a>
                <a class="btn" href="{{ path('profile.refuse', {id: invit.id}) }}">Refuser</a>
            </div>

        </div>
        {% endfor %}

    </section>
{% endblock %}
