{% extends 'base.html.twig' %}

{% block body %}
    <section class="sitemap-content">
       <h1>Plan du site</h1>
        <article>
            <h2>Général</h2>
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('register') }}">Inscription</a>
            <a href="{{ path('login') }}">Connexion</a>
            <a href="{{ path('contact') }}">Contact</a>
        </article>
        <article>
            <h2>Pours les usagers d'Agora</h2>
            <a href="{{ path('salon.list') }}">Liste des assemblées</a>
            <a href="{{ path('profile') }}">Profil</a>
        </article>
    </section>
{% endblock %}
