{% extends 'base.html.twig' %}


{% block title %}Salon{% endblock %}



{% block invitation %}
    <turbo-frame id="flash">
        <li class="invit-li">
            <p class="invit-title">Invitation</p>

            {{ form_start(form, {'attr': {'id': 'invitation'}}) }}
            {{ form_row(form.email,{'label': 'Email'}) }}
            {{ form_row(form.save, {'label': 'Inviter'}) }}
            {{ form_end(form) }}
            <div id="flash-container" data-turbo-temporary>
                {{ include('partials/invit_flash.stream.html.twig') }}
            </div>
        </li>


    </turbo-frame>

{% endblock %}





{% block body %}

    <section class="box salon-app">
        <h1>{{ salon.title }}</h1>
        <p>{{ salon.description }}</p>
        {% if time.type == 'campagne' %}
            <div class="salon-app-btn">
                <turbo-frame class="salon-edit-app" id="salon_{{ salon.id }}">
                    <a class="btn-icon" href="{{ path('salon.edit', {id: salon.id}) }}"><span
                                class="material-symbols-outlined">
                edit
            </span>
                    </a>
                </turbo-frame>
                <a class="btn-icon salon-delete-app" href="{{ path('salon.delete', {id: salon.id}) }}">
                    <span class="material-symbols-outlined">delete</span>
                </a>
            </div>
        {% endif %}

    </section>

    <div class="box time-container" data-controller="countdown" id="time" data-countdown-target="id"
         data-salon-id="{{ salon.id }}">
        <p><span id="time_message" data-countdown-target="message"></span><span data-countdown-target="count"></span>
        </p>
        <p data-content-loader-url-value="/messages.html"
           data-content-loader-refresh-interval-value="1000"></p>
    </div>


    <section class="sujet-app">
    <h2>Liste des sujets à voter</h2>
    {% if time.type == 'campagne' %}
    {% for sujet in salon.sujets %}
    <article id="sujet_remove_{{ sujet.id }}" class="box">

    <h3>{{ sujet.title }}</h3>

    {#                            <p> #}
    {#                                  Description : {{ sujet.description }} } #}
    {#                               </p> #}


    <section class="sujet-btn">
        <div class="btn-icon">
            <span class="material-symbols-outlined">search</span>
        </div>

        <a class="btn-icon" href="{{ path('sujet.edit', {id: sujet.id}) }}"><span
                    class="material-symbols-outlined">edit</span>
        </a>

        <a class="btn-icon" href="{{ path('sujet.delete', {id: sujet.id}) }}"><span
                    class="material-symbols-outlined">delete</span>
        </a>

        <a class="btn-icon" href="{{ path('proposal.create', {id: sujet.id}) }}"><span
                    class="material-symbols-outlined">add</span>
        </a>


    </section>
    <ul class="proposals proposal_create_{{ sujet.id }}">

        {% for proposal in sujet.proposals %}
            <li id="delete_proposal_{{ proposal.id }}">
                <p>{{ proposal.title }}</p>

                {#                            <p>{{ proposal.description }}</p> #}

                <section>
                    <div class="btn-icon">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                    </div>


                    <a class="btn-icon" href="{{ path('proposal.edit', {id: proposal.id}) }}"><span
                                class="material-symbols-outlined">
                                    edit
                                </span>
                    </a>


                    <a class="btn-icon" href="{{ path('proposal.delete', {id: proposal.id}) }}"><span
                                class="material-symbols-outlined">
                                    delete
                                </span>
                    </a>
                </section>


            </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% elseif time.type == "vote" %}


        {% for sujet in sujetIsVoted %}

            <article class="box">



            {{ sujet.sujet.title }}


            {% if sujet.voted == true %}

                {% for vote in sujet.votes %}

                    <div>
                        {{ vote.proposal.title }}
                    </div>
                    <div>
                        {{ vote.notes }}
                    </div>





                {% endfor %}

            {% elseif sujet.sujet.proposals|length == 0  %}


                {{ sujet.sujet.title }}
                <p>Ce sujet n'a pas reçu de proposition</p>
{#                gerer le cas ou un sujet n'a pas de propositions#}


                {% else %}

                <section class="sujet-btn">

                    <a class="btn-icon" href="{{ path('sujet.vote', {id: sujet.sujet.id}) }}"><span
                                class="material-symbols-outlined">edit</span>
                    </a>

                </section>










                </article>
            {% endif %}



        {% endfor %}
        {#            verification des sujets déjà validés #}

    {% else %}


    {% endif %}















    {#                            <section> #}
    {#                                <div class="btn-icon"> #}
    {#                                <span class="material-symbols-outlined"> #}
    {#                                    search #}
    {#                                </span> #}
    {#                                </div> #}
    {#                                <turbo-frame class="vote-select" id="vote_create_{{ proposal.id }}"> #}
    {#                                    <a class="btn-icon" href="{{ path('vote.create', {id: proposal.id}) }}"> #}
    {#                                <span class="material-symbols-outlined"> #}
    {#                                    how_to_vote #}
    {#                                </span> #}
    {#                                    </a> #}
    {#                                </turbo-frame> #}

    {#                                {{ form_start(voteForm) }} #}
    {#                                <ul class="votes"> #}
    {#                                    {% for vote in voteForm.votes %} #}
    {#                                        <li>{{ form_row(vote.notes) }}</li> #}
    {#                                    {% endfor %} #}
    {#                                </ul> #}
    {#                                {{ form_end(voteForm) }} #}
    {#                            </section> #}



    </article>

    {% if time.type == 'campagne' %}
        </section>
        <section class="sujet-app-create">
            <a class="btn" href="{{ path('sujet.create', {id: salon.id}) }}">Créer un nouveau sujet</a>
        </section>
    {% endif %}





    {% block chat %}
        <div class="chat-container">
            {{ include('chat/chat.html.twig') }}
        </div>

    {% endblock %}

{% endblock %}
