{% extends 'base.html.twig' %}

{% block title %}Salon{% endblock %}

{% block javascripts %}
    <script src="{{ asset('countdown.js') }}"></script>
{% endblock %}

{% block body %}
    <p>{{ time.time_message }} <span>test{{ time.time }}</span></p>
    <h1>Titre : {{ salon.title }}</h1>
    <div id="salon-container" data-salon-id="{{ salon.id }}"></div>
    <p><span id="time_message"></span><span id="countdown"></span></p>
    <p>Description : {{ salon.description }}</p>

{#    <p>Username :{{ salon.user.username }}</p>#}

<button><a href="{{ path('salon.edit', {id: salon.id}) }}">Editer le salon</a></button>
    <button><a href="{{ path('salon.delete', {id: salon.id}) }}">Supprimer le salon</a></button>
    <section>
        <h2>Liste des sujets à voter</h2>
        {% for sujet in allsujets %}
        <article>
            <h3>
                Sujet : {{ sujet.title }}
            </h3>
            <p>
                Description : {{ sujet.description }}
            </p>

            <button><a href="{{ path('sujet.edit', {id: sujet.id}) }}">Modifier le sujet</a></button>
            <button><a href="{{ path('sujet.delete', {id: sujet.id}) }}">Supprimer le sujet</a></button>
        </article>
        {% endfor %}
        <button><a href="{{ path('sujet.create', {id: salon.id}) }}">Créer un nouveau sujet</a></button>
    </section>


{% endblock %}
