{% extends 'base.html.twig' %}


{% block title %}Salon{% endblock %}



{% block invitation %}
    <turbo-frame id="flash">
        <li class="invit-li">
            <p class="invit-title">Invitation</p>

            {{ form_start(form, {'attr': {'id': 'invitation'}}) }}
            {{ form_row(form.email,{'label': 'Email'}) }}
            {{ form_row(form.save, {'label': 'Inviter'}) }}
            {{ form_end(form) }}
            <div id="flash-container" data-turbo-temporary>
                {{ include('partials/invit_flash.stream.html.twig') }}
            </div>
        </li>


    </turbo-frame>

{% endblock %}





{% block body %}

    <section class="box salon-app">
        <h1>{{ salon.title }}</h1>
        <p>{{ salon.description }}</p>
        <div class="salon-app-btn">
            <turbo-frame class="salon-edit-app" id="salon_{{ salon.id }}">
                <a class="btn-icon" href="{{ path('salon.edit', {id: salon.id}) }}"><span
                            class="material-symbols-outlined">
                edit
            </span>
                </a>
            </turbo-frame>
            <a class="btn-icon salon-delete-app" href="{{ path('salon.delete', {id: salon.id}) }}">
                <span class="material-symbols-outlined">delete</span>
            </a>
        </div>

    </section>

    <div class="box time-container" data-controller="countdown" id="time" data-countdown-target="id"
         data-salon-id="{{ salon.id }}">
        <p><span id="time_message" data-countdown-target="message"></span><span data-countdown-target="count"></span>
        </p>
        <p data-content-loader-url-value="/messages.html"
           data-content-loader-refresh-interval-value="1000"></p>
    </div>



    <section class="sujet-app">
        <h2>Liste des sujets à voter</h2>
        {% for sujet in allsujets %}
            <article id="sujet_remove_{{ sujet.id }}" class="box">

                <h3>{{ sujet.title }}</h3>

{#                            <p>#}
{#                                  Description : {{ sujet.description }} }#}
{#                               </p>#}

                <section class="sujet-btn">
                    <div class="btn-icon">
                                <p>look</p>
                    </div>

                        <a class="btn-icon" href="{{ path('sujet.edit', {id: sujet.id}) }}"><p>edit</p>
                        </a>

                    <a class="btn-icon" href="{{ path('sujet.delete', {id: sujet.id}) }}"><p>delete</p>
                    </a>

                            <a  class="btn-icon" href="{{ path('proposal.create', {id: sujet.id}) }}"><p>add</p>
                            </a>



                </section>
                <ul class="proposals proposal_create_{{ sujet.id }}">

                    {% for proposal in sujet.proposals %}
                        <li id="delete_proposal_{{ proposal.id }}">
                            <p >{{ proposal.title }}</p>

{#                            <p>{{ proposal.description }}</p>#}

                            <section>
                                <div class="btn-icon">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                                </div>


                                    <a class="btn-icon" href="{{ path('proposal.edit', {id: proposal.id}) }}"><span
                                                class="material-symbols-outlined">
                                    edit
                                </span>
                                    </a>


                                <a class="btn-icon" href="{{ path('proposal.delete', {id: proposal.id}) }}"><span
                                            class="material-symbols-outlined">
                                    delete
                                </span>
                                </a>
                            </section>
                        </li>
                    {% endfor %}

                </ul>

            </article>
        {% endfor %}

    </section>
    <section class="sujet-app-create">
        <a class="btn" href="{{ path('sujet.create', {id: salon.id}) }}">Créer un nouveau sujet</a>
    </section>


    {% block chat %}
        <div class="chat-container">

        </div>
        {{ include('chat/chat.html.twig') }}
    {% endblock %}

{% endblock %}
