{% extends 'base.html.twig' %}


{% block title %}Salon{% endblock %}



{% block invitation %}



        <li class="invit-li" id="invit-request">
            <p class="invit-title">Invitation</p>

            {{ form_start(form, {'attr': {'id': 'invitation'}}) }}
            {{ form_row(form.email,{'label': 'Email'}) }}
            {{ form_row(form.save, {'label': 'Inviter'}) }}
            {{ form_end(form) }}

        </li>



{% endblock %}


{% block body %}

    {#**********BLOC SALON***********#}

    <section class="box salon-app">

        <h1>{{ salon.title }}</h1>
        <p>{{ salon.description }}</p>

        {% if time.type == 'campagne' %}

            {# *********SI CAMPAGNE ON PEUT MODIFIER LE SALON*********** #}
            <div class="salon-app-btn">
                <turbo-frame class="salon-edit-app" id="salon_{{ salon.id }}">
                    <a class="btn-icon" href="{{ path('salon.edit', {id: salon.id}) }}">
                        <span class="material-symbols-outlined">edit</span>
                    </a>
                </turbo-frame>

                <a class="btn-icon salon-delete-app" href="{{ path('salon.delete', {id: salon.id}) }}">
                    <span class="material-symbols-outlined">delete</span>
                </a>
            </div>
        {% endif %}

    </section>

{#*************BLOC COMPTE A REBOURS*******toujours affiché*********#}

    <div class="box time-container" data-controller="countdown" id="time" data-countdown-target="id"
         data-salon-id="{{ salon.id }}">
        <p><span id="time_message" data-countdown-target="message"></span>
            <span data-countdown-target="count"></span>
        </p>
        <p data-content-loader-url-value="/messages.html"
           data-content-loader-refresh-interval-value="1000"></p>
    </div>

{#**************BLOC SUJETS***************#}

    <section class="sujet-app">

        <h2>Liste des sujets à voter</h2>

        {% if time.type == 'campagne' %}

        {% for sujet in salon.sujets %}




        <article class="box" data-controller="deroulant">

            <span data-deroulant-target="arrow" data-action="click->deroulant#animate" class="arrow-sujet material-symbols-outlined">
keyboard_arrow_up
</span>
                <h3>{{ sujet.title }}</h3>

                {#                            <p> #}
                {#                                  Description : {{ sujet.description }} } #}
                {#                               </p> #}

                {#*********MODIFICATION DU SUJET EN CAMPAGNE************#}

                <section class="sujet-btn">
                    <div class="btn-icon">
                        <span class="material-symbols-outlined">search</span>
                    </div>

                    <a class="btn-icon" href="{{ path('sujet.edit', {id: sujet.id}) }}"><span
                                class="material-symbols-outlined">edit</span>
                    </a>

                    <a class="btn-icon" href="{{ path('sujet.delete', {id: sujet.id}) }}"><span
                                class="material-symbols-outlined">delete</span>
                    </a>

                    <a class="btn-icon" href="{{ path('proposal.create', {id: sujet.id}) }}"><span
                                class="material-symbols-outlined">add</span>
                    </a>


                </section>





            <ul class="proposal-ul" data-deroulant-target="ul">

                {#*********************BLOC PROPOSITIONS EDITABLE EN CAMPAGNE*******************#}

                {% for proposal in sujet.proposals %}
                    <li class="proposal-li proposal_{{ proposal.id }}">
                        <p>{{ proposal.title }}</p>


                        <section class="proposal-btn">
                            <div class="btn-icon">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                            </div>

                            <a class="btn-icon" href="{{ path('proposal.edit', {id: proposal.id}) }}"><span
                                        class="material-symbols-outlined">
                                    edit
                                </span>
                            </a>


                            <a class="btn-icon" href="{{ path('proposal.delete', {id: proposal.id}) }}"><span
                                        class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        </section>


                    </li>
                {% endfor %}
            </ul>
            {% endfor %}

            </article>
            {% elseif time.type == "vote" %}

                {#**********PHASE DE VOTE*************#}

                {% for sujet in sujetIsVoted %}

            <article class="box">

                    <h3>{{ sujet.sujet.title }}</h3>


                    {% if sujet.voted == true %}

                        <ul class="proposals">
                        {% for vote in sujet.votes %}

                            <li class="hasvoted">
                                <p>{{ vote.proposal.title }}</p>
                                <p>{{ vote.notes }}</p>
                            </li>


                        {% endfor %}
                        </ul>

                        </article>
                    {% elseif sujet.sujet.proposals|length == 0 %}

                        {#*************CAS SUJET SANS PROPOSITIONS*****************#}

                        <article class="box">
                            <p>Ce sujet n'a pas reçu de proposition</p>
                        </article>







                    {% else %}
                        <article class="box">

                        <section class="sujet-btn">

                            <a class="btn-icon" href="{{ path('sujet.vote', {id: sujet.sujet.id}) }}"><span
                                        class="material-symbols-outlined">edit</span>
                            </a>

                        </section>



                    {% endif %}



                {% endfor %}
                {#            verification des sujets déjà validés #}

                </article>

            {% else %}

                {# ********************PHASE RESULTS********************* #}

            {%  for result in results %}

                {% if result.result|length == 0 %}
                    <article class="box vote-container">
                        <h3>{{ result.sujet.title }}</h3>
                        <p>Il n'y avait pas de propositions pour ce sujet</p>
                    </article>

                {% else %}
                <article data-controller="results" class="results-container box" id="sujet_results_{{ result.sujet.id }}">

                    <h3>{{ result.sujet.title }}</h3>




                        {% for sujet in result.result %}
                            <p>Tour {{ loop.index }}</p>
                            <p id="winner"></p>
                    <div data-results-target="grid" class="grid-vote" id="tour_{{ loop.index }}">
                        {% for prop in sujet %}

                        <div class="proposal_{{ prop.proposalId }} row">

                                                            <div class="proposal-title">{{ prop.proposalTitle }}</div>
                                                            <div class="inadapte"></div>
                                                            <div class="passable"></div>
                                                            <div class="bien"></div>
                                                            <div class="tresbien"></div>
                                                            <div class="excellent"></div>

                                                        </div>
                            {% endfor %}
                    </div>

                        {% endfor %}







                </article>



                    {% endif %}

            {% endfor %}




            {% endif %}




    </section>
    {% if time.type == 'campagne' %}
        <section class="sujet-app-create">
            <a class="btn" href="{{ path('sujet.create', {id: salon.id}) }}">Créer un nouveau sujet</a>
        </section>
    {% endif %}





    {% block chat %}
        <div class="chat-container">
            {{ include('chat/chat.html.twig') }}
        </div>

    {% endblock %}

{% endblock %}
