{% extends 'base.html.twig' %}


{% block title %}Assemblée{% endblock %}



{% block invitation %}



        <li class="invit-li" id="invit-request">
            <p class="invit-title">Invitation</p>

            {{ form_start(form, {'attr': {'id': 'invitation'}}) }}
            {{ form_row(form.email,{'label': 'Email'}) }}
            {{ form_row(form.save, {'label': 'Inviter'}) }}
            {{ form_end(form) }}

        </li>



{% endblock %}


{% block body %}

    {#**********BLOC SALON***********#}

    <section class="box salon-app">

        <h1>{{ salon.title }}</h1>
        <p>{{ salon.description }}</p>

        {% if time.type == 'campagne' %}

            {# *********SI CAMPAGNE ON PEUT MODIFIER LE SALON*********** #}
            <div class="salon-app-btn">
                    <a class="btn-icon" href="{{ path('salon.edit', {id: salon.id}) }}">
                        <span class="material-symbols-outlined">edit</span>
                    </a>
                <a class="btn-icon salon-delete-app" href="{{ path('salon.delete', {id: salon.id}) }}">
                    <span class="material-symbols-outlined">delete</span>
                </a>
            </div>
        {% endif %}

    </section>

{#*************BLOC COMPTE A REBOURS*******toujours affiché*********#}

    <div class="box time-container" data-controller="countdown" id="time" data-countdown-target="id"
         data-salon-id="{{ salon.id }}">
        <p><span id="time_message" data-countdown-target="message"></span>
            <span data-countdown-target="count"></span>
        </p>
        <p data-content-loader-url-value="/messages.html"
           data-content-loader-refresh-interval-value="1000"></p>
    </div>

{#**************BLOC SUJETS***************#}

    <section class="sujet-app">

        <h2>Liste des sujets à voter</h2>

        {% if time.type == 'campagne' %}

        {% for sujet in salon.sujets %}


        <article class="box sujet-campagne" data-controller="deroulant">

            <span data-deroulant-target="arrow" data-action="click->deroulant#animate" class="arrow-sujet material-symbols-outlined">
                keyboard_arrow_up
                </span>

                <h3>{{ sujet.title }}</h3>



                {#*********MODIFICATION DU SUJET EN CAMPAGNE************#}

                <section class="sujet-btn">
                    <div data-action="click->deroulant#animDesSujet" class="btn-icon">
                        <span class="material-symbols-outlined">search</span>
                    </div>

                    <a class="btn-icon" href="{{ path('sujet.edit', {id: sujet.id}) }}"><span
                                class="material-symbols-outlined">edit</span>
                    </a>

                    <a class="btn-icon" href="{{ path('sujet.delete', {id: sujet.id}) }}"><span
                                class="material-symbols-outlined">delete</span>
                    </a>

                    <a class="btn-icon" href="{{ path('proposal.create', {id: sujet.id}) }}"><span
                                class="material-symbols-outlined">add</span>
                    </a>


                </section>


            <p data-deroulant-target="sujetDescript" class="sujet-content">{{ sujet.description }}</p>


            <ul class="proposal-ul" data-deroulant-target="ul">

                {#*********************BLOC PROPOSITIONS EDITABLE EN CAMPAGNE*******************#}

                {% for proposal in sujet.proposals %}
                    <li class="proposal-li proposal_{{ proposal.id }}" data-controller="proposal">

                            <p>{{ proposal.title }}</p>


                            <section class="proposal-btn">
                                <div class="btn-icon" data-action="click->proposal#animate">
                                <span  class="material-symbols-outlined">
                                    search
                                </span>
                                </div>

                                <a class="btn-icon" href="{{ path('proposal.edit', {id: proposal.id}) }}"><span
                                            class="material-symbols-outlined">
                                    edit
                                </span>
                                </a>


                                <a class="btn-icon" href="{{ path('proposal.delete', {id: proposal.id}) }}"><span
                                            class="material-symbols-outlined">
                                    delete
                                </span>
                                </a>
                            </section>



                        <p data-proposal-target="description" class="proposal-content">{{ proposal.description }}</p>

                    </li>
                {% endfor %}
            </ul>
        </article>
            {% endfor %}


            {% elseif time.type == "vote" %}

                {#**********PHASE DE VOTE*************#}

                {% for sujet in sujetIsVoted %}

            <section class="box sujet-vote" data-controller="deroulant">


                    <h3>{{ sujet.sujet.title }}</h3>
                    <span data-deroulant-target="arrow" data-action="click->deroulant#animVoted" class="arrow-sujet material-symbols-outlined">
                    keyboard_arrow_up
                    </span>

                    <section class="voted-section" data-deroulant-target="votedUl">
                    {% if sujet.voted == true %}

                        <ul class="proposals">
                        {% for vote in sujet.votes %}

                            <li class="hasvoted">
                                <p>{{ vote.proposal.title }}</p>

                                {% if vote.notes == 'inadapate' %}
                                <p class="red">Inadapté</p>
                                {% elseif vote.notes == 'passable' %}
                                <p class="brown">Passable</p>
                                {% elseif vote.notes == 'bien' %}
                                <p class="yellow">Bien</p>
                                {% elseif vote.notes == 'tresbien' %}
                                <p class="orange">Très Bien</p>
                                {% else %}
                                <p class="green">Excellent</p>
                                {% endif %}
                            </li>


                        {% endfor %}
                        </ul>


                    {% elseif sujet.sujet.proposals|length == 0 %}

                        {#*************CAS SUJET SANS PROPOSITIONS*****************#}

                        <article>
                            <p>Ce sujet n'a pas reçu de proposition</p>
                        </article>


                    {% else %}


                        <section class="sujet-btn">

                            <div data-action="click->deroulant#animDesSujet" class="btn-icon">
                                <span class="material-symbols-outlined">search</span>
                            </div>

                            <a class="btn-icon" href="{{ path('sujet.vote', {id: sujet.sujet.id}) }}"><span
                                        class="material-symbols-outlined">how_to_vote</span>
                            </a>

                        </section>



                    {% endif %}

                    </section>
            </section>
                {% endfor %}
                {#            verification des sujets déjà validés #}



            {% else %}

                {# ********************PHASE RESULTS********************* #}

            {%  for result in results %}
                {% if result.result[0]|length == 0 %}

                    <article class="box vote-container">
                        <h3>{{ result.sujet.title }}</h3>
                        <p>Il n'y avait pas de propositions pour ce sujet</p>
                    </article>

                {% else %}
                <article data-controller="results" class="results-container box" data-results-target="id" data-id="{{ result.sujet.id }}" id="sujet_results_{{ result.sujet.id }}">

                    <h3>{{ result.sujet.title }}</h3>


                    <p class="winner"></p>

                        {% for sujet in result.result %}
                            <p class="tour-title">Tour {{ loop.index }}</p>

                            <div class="pourcent-scale">
                                <p>100%</p>
                                <p>50%</p>
                            </div>
                    <div data-results-target="grid" class="grid-vote tour_{{ loop.index }}">
                        {% for prop in sujet %}

                        <div class="proposal_{{ prop.proposalId }} row">

                                                            <div class="proposal-title">{{ prop.proposalTitle }}</div>
                                                            <div class="inadapte"></div>
                                                            <div class="passable"></div>
                                                            <div class="bien"></div>
                                                            <div class="tresbien"></div>
                                                            <div class="excellent"></div>

                                                        </div>
                            {% endfor %}
                    </div>

                        {% endfor %}







                </article>



                    {% endif %}

            {% endfor %}




            {% endif %}





    {% if time.type == 'campagne' %}
        <section class="sujet-app-create">
            <a class="btn" href="{{ path('sujet.create', {id: salon.id}) }}">Créer un nouveau sujet</a>
        </section>
    {% endif %}


</section>


    {% block chat %}
        <div class="chat-container">
            {{ include('chat/chat.html.twig') }}
        </div>

    {% endblock %}

{% endblock %}
