{% extends 'base.html.twig' %}

{% block title %}Tous les salons{% endblock %}

{% block body %}
    <table class="table">
        <thead>

        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Auteur</th>
            <th>Public/Privé</th>
        </tr>
        </thead>
        <tbody>
        {% for salon in salons %}
        <tr>
            <td>
                <a href="{{ path('/salon/{id}', {id: salon.id}) }}">{{ salon.title }}</a>
            </td>
            <td>
                {{ salon.description }}
            </td>
            <td>
                {{ salon.username }}
            </td>
            <td>
                {{ salon.privacy }}
            </td>
        </tr>
        {% endfor %}
        </tbody>




    </table>

{% endblock %}