<turbo-stream action="append" target="proposal_create_{{ sujet.id }}">
    <template>
        <li id="delete_proposal_{{ proposal.id }}">
            <turbo-frame id="proposal_{{ proposal.id }}" class="proposal-style">
                <p>{{ proposal.title }}</p>

                {#                            <p>{{ proposal.description }}</p> #}

                <section>
                    <div class="btn-icon">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                    </div>


                    <a class="btn-icon" href="{{ path('proposal.edit', {id: proposal.id}) }}"><span
                                class="material-symbols-outlined">
                                    edit
                                </span>
                    </a>


                    <a class="btn-icon" href="{{ path('proposal.delete', {id: proposal.id}) }}"><span
                                class="material-symbols-outlined">
                                    delete
                                </span>
                    </a>
                </section>
            </turbo-frame>
        </li>
    </template>
</turbo-stream>
<turbo-stream action="replace" target="proposal_create_form_{{ sujet.id }}">
    <template>
        <turbo-frame id="proposal_create_form_{{ sujet.id }}">
            <a  class="btn-icon" href="{{ path('proposal.create', {id: sujet.id}) }}"><span
                        class="material-symbols-outlined">
                        add
                    </span>
            </a>
        </turbo-frame>
    </template>
</turbo-stream>