{% autoescape %}
    {% block chat %}

        <aside class="chat-window" data-controller="chat" data-action="turbolinks:before-cache@window->chat#animate"
               data-chat-target="aside">
            <div
                    data-action="click->chat#animate"
                    data-chat-target="open"
                    class="button-chat">
                <span class="material-symbols-outlined">send</span>
            </div>
                <span data-action="click->chat#animate" data-chat-target="close"
                  class="close_chat material-symbols-outlined">
                    close
                </span>
            <div data-chat-target="messages" id="messages" data-controller="turbo-stream"
                 data-turbo-stream-url-value="https://localhost:3000/.well-known/mercure?topic=salon/{{salon.id}}/chat">
                {% for message in salon.messages %}
                    <div class="bulle_chat box">
                        <p class="message-user">{{ message.user.username }}</p>
                        <p class="message-content">{{ message.content }}</p>
                        <p class="message-date">{{ message.createdAt|date("G:i") }}</p>
                    </div>
                {% endfor %}
            </div>

            {{ form(messageForm, {'action': path('salon.chat',  {id: salon.id}), 'attr': {'data-action':'turbo:submit-end->chat#clear'}}
                ) }}

        </aside>
    {% endblock %}
{% endautoescape %}