<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>

            {% if app.user %}
                <li><a href="">Mon Compte</a></li>
                <li><a href="">Mes salons</a></li>
                <li>
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li><a href="{{ path('register') }}">Inscription</a></li>
                <li><a href="{{ path('login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% include 'partials/flash.html.twig' %}




        {% block body %}



        {% endblock %}



    </div>

    </body>
</html>
