<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body data-turbo="true">
{#    {% autoescape %} #}
{% block nav %}


    <header class="header" data-controller="menu" data-action="turbolinks:before-cache@window->menu#animate">
        <a href="{{ path('home') }}"><img id="logo" src="{{ asset('build/images/logo.png') }}"
                                          alt="logo du site agora"/></a>
        <nav id="mySidenav" class="sidenav" data-menu-target="list">
            <a id="closeBtn" data-action="click->menu#animate" data-menu-target="close" href="#" class="close">×</a>
            <ul {% if is_granted('ROLE_ADMIN') %}
                 class="uladmin"
{% elseif app.user %}
    class="uluser"
{%  else %}
         class="ulinvit"
{% endif %}>

                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                {% if app.user %}
                    <li class="user-li">Utilisateur: {{ app.user.username }}</li>
                    <li><a href="{{ path('profile') }}">Mon Compte</a></li>
                    <li><a href="{{ path('salon.list') }}">Mes assemblées</a></li>
                    <li>
                        <a href="{{ path('logout') }}">Déconnexion</a>
                    </li>
                    {% block invitation %}
                    {% endblock %}

                {% else %}
                    <li><a href="{{ path('register') }}">Inscription</a></li>
                    <li><a href="{{ path('login') }}">Connexion</a></li>

                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}">Administration</a></li>
                {% endif %}
            </>
        </nav>

        <img id="burger" data-action="click->menu#animate" data-menu-target="burger"
             src="{{ asset('build/images/menu.png') }}" alt="menu déroulant du site"/>

    </header>

{% endblock %}

<div class="container">
{% block body %}
    {% include 'partials/flash.html.twig' %}








    {% endblock %}
</div>

</body>
{#    {% endautoescape %} #}
</html>
