{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}

    <section class="box">

        <turbo-frame id="sujet_{{ sujet.id }}">
            {{ form_start(form, {action: path('sujet.edit', {id: sujet.id})}) }}
            {% for label,  %}
            {{ form_label(form.name) }}


            {{ form_end(form, {render_rest: false}) }}

        </turbo-frame>

    </section>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
