{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}


    <section class="box">

        {{ form_start(form, {action: path('sujet.vote', {id: sujet.id})}) }}

        <input type="hidden" name="token" value="{{ csrf_token('vote') }}">

        <ul class="tags">
            {% for proposal in form.proposals %}
                <li>{{ form_row(proposal.title) }}</li>
                {% for vote in proposal.votes %}

            {% if field_value(vote.user) == app.user.email %}
                    {{ form_row(vote.notes) }}



                    {% endif %}
                    {% endfor %}
            {% endfor %}
        </ul>




        {{ form_row(form.save) }}



        {{ form_end(form, {render_rest: false}) }}







    </section>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
