{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}

    <div class="box vote-form">

        {{ form_start(form, {action: path('sujet.vote', {id: sujet.id})}) }}

        <input type="hidden" name="token" value="{{ csrf_token('vote') }}">

        <ul>
            {% for proposal in form.proposals %}

                <li data-controller="vote" class="proposal-vote-content">
                    {{ form_row(proposal.title) }}
                    {{ form_row(proposal.description) }}

                    {{ form_row(proposal.vote) }}

                    <ul data-vote-target="mentionUl" class="mention-ul">
                        <li data-mention="inadapte" class="mention-li">Inadapté</li>
                        <li data-mention="passable" class="mention-li">Passable</li>
                        <li data-mention="bien" class="mention-li">Bien</li>
                        <li data-mention="tresbien" class="mention-li">Très bien</li>
                        <li data-mention="excellent" class="mention-li">Excellent</li>
                    </ul>


                </li>
            {% endfor %}
        </ul>

        {{ form_row(form.save) }}

        {{ form_end(form, {render_rest: false}) }}

    </div>

    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}

{% endblock %}
