{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}


    <section class="box vote-form">

        {{ form_start(form, {action: path('sujet.vote', {id: sujet.id})}) }}

        <input type="hidden" name="token" value="{{ csrf_token('vote') }}">

        <ul class="tags">
            {% for proposal in form.proposals %}
                <li>{{ form_row(proposal.title) }}</li>
                <li>{{ form_row(proposal.description) }}</li>
                {% for vote in proposal.votes %}

                    {% if field_value(vote.user) == app.user.email %}
                        <div data-controller="vote">
                    <span data-action="click->vote#animate" class="material-symbols-outlined">how_to_vote</span>
                            {{ form_row(vote.notes) }}
                            <ul data-vote-target="mentionUl" class="mention-ul">
                                <li data-mention="inadapte" class="mention-li">Inadapté</li>
                                <li data-mention="passable" class="mention-li">Passable</li>
                                <li data-mention="bien" class="mention-li">Bien</li>
                                <li data-mention="tresbien" class="mention-li">Très bien</li>
                                <li data-mention="excellent" class="mention-li">Excellent</li>
                            </ul>
                        </div>


                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>


        {{ form_row(form.save) }}



        {{ form_end(form, {render_rest: false}) }}


    </section>


    {% block chat %}
        {{ include('chat/chat.html.twig') }}
    {% endblock %}


{% endblock %}
